body{
    margin:0px;
    padding:0px;
}
.container{
    max-width:1500px;
    height: 100vh;
  
    margin:0 auto;
}
.header{
    height: 90px;
    width: 100%;
    max-width: 1500px;
    background-color: #0065c3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
   z-index: 10;
}
.navbar>ul{
    display: flex;
    list-style: none;
    margin: 0px;;
    color:white;
    align-items: center;
}
.navbar>ul>li{
    font-size: 14px;
    margin-left:3.2em;
    font-family: Sofia Pro;
}
@font-face {
    font-family: Sofia Pro;
    src: url("fonts/SofiaProBold.ttf");
    font-weight: 800;
}
@font-face {
    font-family: Cervo neue;
    src: url("fonts/Demo_Fonts/Fontspring-DEMO-cervoneue-extraboldneue.otf");
    font-weight: 800;
}
.section{
    position:relative;
    overflow: hidden;
    height: 83vh;
    max-height: 800px;
}
.absection{
    position: absolute;
    bottom:0;
    width:100vw;
    max-width: 1500px;
display: flex;
}
.imagesection{
  max-width: 1500px;
  max-height: 800px;
  width:100vw;
  height: 83vh;
}
.pepsi{
    position: relative;
}

.pepsiimg{
   max-width: 970px;
   max-height:580px;
  position: absolute;
  bottom:-50px;
   width: 61vw;
height: 55vw;
   
}
.sectext{
    
    height: 530px;
    width:400px;
   position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    margin-left: 57%;
}
.sectext>img{
    width: 31vw;
    height: 21vw;
}
.section2{
    background-color: black;
    display: flex;
    height: 600px;
  
 
}
.black-pepsi-image{
   height: 100%;
   width: 46em;
    background-image: url("https://www.pepsi.com/en-us/uploads/images/pzs-new-taste/pzs-can-nobug-desktop.png");
    background-size: auto 115%;
    background-position: right -76px bottom;
    position: relative;
    background-repeat: no-repeat;
}

.blackpepsiimg{
    height: 43em;
    width: 52em;
}
.postabs{
    position: absolute;
    right: 120px;
    top: 12px;
}
.section2text{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 50px;

}
.promotioncontain{
    display: flex;
    width: 100%;
    margin-top: 30px;
    justify-content: space-around;
}
.promotion{
    display: flex;
    flex-direction: column;
    position:relative;
    align-items: center;
}
.playbutton{
 position:absolute;
 background-color:rgba(17,89,155,0.7);
 color:white;
 display: flex;
 flex-direction: column;
 align-items: center;
 font-size: 13px;
font-weight: bold;
padding:0px 15px;
top:30px;
}

.playbutton>i{
    margin-top: 5px;
    font-size: 30px;
}
.playbutton>p{
    margin-bottom:5px; 
}

.spantag{
    color: white;
    font-family:Sofia Pro;
    font-size: 12px;
}
.pepsinitrosec{
    height:600px;
    background-image: url("https://www.pepsi.com/en-us/uploads/images/nitro/Desktop_Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pepsinitroimg>img{
   
    height: 32em;
    width: 25em;

}
.pepsinitrotext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.pepsi-nitro-img>img{
    height: 16em;

}
.pepsinitrotext>h2{
    margin: 0;
    padding-top: 0;
    color:white;
    font-family: Sofia Pro;
    font-weight: bold;
}
.better-with-container{
    display: flex ;
    height: 600px;
    background-color: #265cc5;
}
.better-right{
    background-image:Url("https://www.pepsi.com/en-us/uploads/images/better-with-pepsi/PEP_BWP_D.jpg");
    height: 600px;
    flex:2;
    background-position:33% 0 ;
    background-position: 58% 0;
    background-repeat: no-repeat;
    position: relative;
}
.better-right>img{
    position:absolute;
    bottom: 5px;
    right: 0;
    height: 140px;
    width: 480px;
}
.better-left{

    display: flex;
    flex:1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ribs-img>img{
    width: 380px;
    height: 200px;

}
.ribs-img{
    display: flex;
    flex-direction: column;
    align-items: center;
 margin-top:20px;
    background-color: #1437bf;
    color: white;
    font-family: Sofia Pro;
    

}
.ribs-img>p{
    margin:0;
    padding:8px 0px;
}
.pepsi-mango{
    background-image: Url("https://www.pepsi.com/en-us/uploads/images/pepsi-mango/mango-bg.jpg");
   height: 700px;
   background-size: cover;
   position: relative;
}
.bottom-img{
    position: absolute;
    z-index: 1;
    height: 580px;
    width: 100%;
    bottom:0
}
.text-img{
    position: absolute;
    z-index: 2;
    height: 290px;
    width: 370px;
    left: 45px;
    top: 76px;
}
.bottom-text{
    height: 30px;
    position: absolute;
    bottom: 22px;
    left: 20px;
    z-index: 3;
}
.right-img{
    width: 880px;
    height: 700px;
    position: absolute;
    top:0;
    right: 0;
    z-index:4;
}
.videocontainer{
    height: 500px;
    width: 100%;
    background-color: #0065c3;
}
.bluepepsi{
    display: flex;
    background-color:#0254ae ;
    align-items: center;
    justify-content: center;
}
.bluepepsiimg{
    margin-top:50px ;
    width: 650px;
    height: 600px;

}
.bluepepsitext{
    width: 450px;
    height: 310px;
}
.color-pepsi{
    height: 500px;
    width: 100%;
    background-color: #0065c3;
    display: flex;
    color:white;
    justify-content: space-around;
    align-items: center;
}
.color-pepsi-left{
    width: 31%;
    margin-left: 140px;
}
.color-pepsi-left>span{
    font-size: 60px;
    font-family: Cervo neue;
    line-height: 65px;
}
.color-pepsi-left>p{
    font-family: Sofia Pro;
}
.color-pepsi-right{
    width: 50%;
    margin-left: 90px;
}
.color-pepsi-right>img{
    width: 480px;
    height: 240px;
}
.pepsi-hover-img{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pepsi-hover-img>p{
    font-size: 60px;
    font-family: Cervo neue;
    margin:0;
    padding:0;
     color:#0065c3;

}
.pepsi-img-container>img{
    height: 230px;
    width: 230px;
}