body{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    background-color: #009579;


  }
  .button{
    padding:15px 25px;
    font-size: 18px;
    border: 1px solid #009579;
    border-radius: 18px;
    background-color: #009579;
    color:white;
  }
  .button:hover{
    background-color:#01836b
  
  }
  .button2{
    padding:15px 25px;
    font-size: 18px;
    border: 1px solid red;
    border-radius: 5px;
    background-color: red;
    color:white;
    margin-right: 5px;
  }
  .button2:hover{
    background-color: rgb(230, 6, 6);
  
  }
  .buttonpost{
    padding:15px 25px;
    font-size: 18px;
    font-weight: bold;
    border:none;
    border-radius: 18px;
    background-color: #009579;
    color:white;
  }
  .buttonpost:hover{
    background-color:#058971 ;
  }
  .section{
    height: 100vh;
   width: 100%;
    display: flex;
    justify-content: space-between;
  }
.imglogo{
  height: 73px;
  width: 76px;
  border-radius:50px;
}
.postcontainer{
width:42%;
 text-align: center;
 height: 40%;
padding:50px

}
.textarea1{
  height: 100px;
}
#button > button{
  padding: 10px 70px;
  margin-top: 10px;
}
.postcontainer1{
  display: none;
}
.logocontainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 13%;

}
.logocontainer>p{
  font-weight: bold;
  font-size: 20px;
}
.postcontainer1{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  padding:30px
}
.post{
  padding:30px;
  min-height: 218px;
  width: 90%;
  max-width: 500px;
  box-shadow:-2px 5px 12px grey;
  border-radius: 5px;
  word-wrap:break-word;
  margin-left: 30px;
  margin-top: 30px;
}
