body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    background-color: #fff;
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.question {
    font-size: 26px;
    margin-bottom: 10px;
    margin:50px 0 10px 0;
    font-weight: bold;
}
.question1{
    font-weight: bold;
    
}

.options {
    list-style-type: none;
    padding: 0;
}

.options li {
    margin: 10px 0;
}

.options input[type="radio"] {
    margin-right: 10px;
}

.button {
    background-color: #6a5bdc;
    color: #fff;
    border: none;
    padding: 10px 40px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
    display: block;
    margin: 0 30px 30px auto;
}

.result-container {
    display: none;
    margin-top: 20px;
}

.result-container h2 {
    text-align: center;
    font-size: 24px;
}

.result-container p {
    text-align: center;
    font-size: 18px;
}
button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
li{
    list-style: none;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left{
    display: flex;
    align-items: center;
}
.quiz{
    display: flex;
}

#quiz>li>input{
    font-size: 24px;
}
#totalques{
    margin: 0;
    font-weight: bold;
}
.heading{
    font-weight: bold;
    font-size: 39px;
    color:#6a5bdc
}
.list-radio{
    font-size: 20px;
}