.navbar{
    background-color: rgb(165, 29, 42) !important;
height: 80px;
    font-weight: bold;
}
.navbar-brand{
    color: #fff !important;
}
.logo{
    height:50px;
    width: 50px;
}
.form-select{
    width: 250px;
}
.btn{
    background-color: #00a738 ;
    font-size: 18px;
    font-weight: bold;
}


.mob{
    height: 180px;
    width: 180px;
    object-fit: contain;
    margin: 0px auto;
}
.card{
    width: 200px !important;
    text-align: center;
    margin:30px;
    padding:5px;
}