body{
    padding:0;
    margin:0;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
}
h1{
    margin:0;
    padding:0;
}
.header{
    flex:1;
    background-color: #4137ee;
    height: 30%;
}
.body-sec{
    flex:2;
    height: 70%;
}
.abs-container{
    position: absolute;
    background-color: white;
    z-index: 999;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 40%;
    height: 200px;
    top:100px;
    border-radius: 10px;
    box-shadow:0 0 10px grey;
}
.body-sec{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.n-container{
    height: 150px;
    width: 200px;
    background-color:lightgray;
    border-radius: 5px;
    padding:20px;
    background-image: url('https://media-cdn.tripadvisor.com/media/photo-s/0f/10/82/95/nice-blue-color-of-jameh.jpg');
    background-repeat: no-repeat;
    opacity: 0.8;
    color:white;
    text-align: center;
}
.abs-container{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#timeRem{
    font-size: 43px;
    text-align: center;
}