body{
    padding:0;
    margin:0;
    font-family: Gilroy;
}
@font-face {
    font-family: Gilroy;

    src:url("Font/Gilroy-Light.otf");
   
  
}
.container{
    max-width: 1400px;
    width: 89vw;
    padding: 0px 50px;
    background-color: #f9f9f9;
    margin:0 auto;

}
.header{
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 50px;
}
.header-nav{
    width: 55%;
  font-size: 17px;

}
.header-nav>ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav>ul>li{
    text-align: center;
    padding-left:10px;
}
.header-btn{
    background-color:#75BF7A;
    padding:10px 20px;
    color:white;
    font-size: 22px;
   
}
.section{
    display: flex;
    justify-content: space-around;
   align-items: flex-end;
    padding:10px;
    background-color: #f9f9f9;
}
.sec-left{
    width: 45%;
}
.sec-left>p{
    margin:0px;
    font-weight: light;
}
.sec-btns{
    display: flex;
    justify-content: space-between;
    margin-top:90px;
  
}
.sec-btn1{
    background-color: black;
    color: white;
    padding:10px 35px;
    font-size: 25px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.sec-btn1>span{
    margin-left: 13px;
}
.sec-right>img{
    width: 100%;
}
.sec-head{
    font-size: 61px;
    font-weight: bold;
    margin: 17px 0;
}
.sec-text{
    color:#9E9DA2;
    font-size: 24px;
}
.search-sec{
    background-color:#75BF7A;
    margin:70px 0;
    border-radius:6px;
    height:140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.search-sec>p{
    width:23%;
    font-size: 25px;
    line-height: 32px;
    color:white;
}
.search-box{
    display: flex;
}
.search-box>input{
    width:390px;
    padding: 18px;
    border:0px;
    margin-right:5px;
    font-size:18px;
    border-radius:5px 0 0 5px;
}
.mob-btn{
    padding:7px 8px;
    font-size:20px;
    border-radius: 0 5px 5px 0;
}
.heading-sec{
    width:30%;
    margin:0 auto;
    text-align: center;
}
.heading-sec>h1{
    font-size: 38px;
}
.heading-sec span{
    color:#75BF7A;
    font-weight:800;
}

.heading-sec p{
    color:#9E9DA2;
}
.mobile-sec{
    display:flex;
    margin-top: 180px;
    align-items: center;
    justify-content: center;
}
.one{
    position: relative;
}
.rel{
    position: absolute;
    top: 18px;
    right: 26px;

}
.box{
    display: flex;

}
.mobile-sec-left{
    text-align: end;
    width: 40%;
}
.mobile-sec-right{
    width: 40%;
}
.mobile-sec-right .rel{
   left:25px; 
}
.round{
    background-color: #75BF7A;
    height: 400px;
    width: 400px;
    border-radius: 200px;
    text-align: center;
    
}
.round>img{
    margin-top:-100px;
}
.mobile-sec-mid{
    margin:0 60px;
}
.benefits-heading{
    text-align: center;
    font-size: 38px;
    margin:120px 0;
}
.benefits-heading>span{
    color:#75BF7A;
}
.benefits{
    display: flex;
    flex-direction: column;

}
.flexible{
    width: 70%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 70px;
    margin-bottom:60px;
}
.flexible-left{
    width: 40%;
}
.flexible-left h1{
    margin:0;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:80px 0;
    background-color: white;
}
.sec-btn2{
    background-color: black;
    color: white;
    padding:5px 5px;
    font-size: 15px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.footer-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

@media only screen and (max-width:1300px){
    .sec-head{
        font-size: 55px;
    
        }
        .sec-text{
       
            font-size: 18px;
        }
        .sec-btn1{
        padding:5px 25px;
            font-size: 20px;

        }
        .sec-right{
            text-align: center;
        }
        .sec-right>img{
            width: 80%;
        }
}
@media only screen and (max-width:1177px){
    .header-nav{
        width: 65%;
        font-size: 15px;
        font-weight: 600;
    }
    
}

@media only screen and (max-width:1044px){
    .header-logo>img{
        width:120px;
    }
    .header-btn{
        padding:7px 15px;
        
        font-size: 16px;
    }
    .sec-head{
        font-size: 45px;
    
        }
        .sec-text{
       
            font-size: 16px;
        }
        .sec-btns{
            margin-top:5px
        }
        .sec-btn1{
        padding:2px 5px;
            font-size: 18px;

        }
        .sec-right{
            text-align: center;
        }
        .sec-right>img{
            width: 60%;
        }
        .search-sec>p{
            width:23%;
            font-size: 20px;
            line-height: 28px;
            color:white;
        }
    
}
@media only screen and (max-width:880px){
    .container{

        width: 100%;
        padding: 0px 50px;
        background-color: #f9f9f9;
        margin:0 auto;
    
    }
    .section{
        display: flex;
        justify-content: space-around;
       align-items: flex-end;
        padding:10px;
        background-color: #f9f9f9;
        flex-wrap: wrap;
    }
    .sec-left{
        width: 95%;
    }
    .sec-btns{
        display: flex;
        justify-content: space-around;
        margin-top:60px;
    }
    .sec-right{
        width: 100%;
        margin-top:30px;
    }
    .sec-right>img{
        width: 80%;
    }
    .search-sec{
        height:auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .search-sec>p{
        width:90%;
        font-size: 25px;
        line-height: 24px;
        margin:0;
        padding:20px;
  
    }
    .search-box{
        display: flex;
        flex-direction: column;
        width: 80%;
        align-items: center;
    }
    .search-box>input{
          width: 90%;
    
         font-size:16px;
         border-radius:5px ;
    }
    .mob-btn{
        padding: 15px;
        font-size: 14px;
        margin:15px 0;
        border-radius: 6px;
        width: 90%;
        
    }
    .mob-btn>span{
        margin:0 auto;
    }
    .heading-sec{
        width:100%;
    }
        .mobile-sec{
        flex-direction: column;
    }
    .box{
        flex-direction: column-reverse;
        align-items: center;
    }
    .round{
      
        height: 350px;
        width: 350px;
        border-radius: 180px;
       
        
    }
    .round>img{
    height: 520px;
    width: 261px;
    }
    .mobile-sec-left{
        text-align: center;
        margin-top:120px;
        width: 70%;
    }
    .one{
        justify-self: center;
    }
    .rel{
        position: absolute;
        top: 18px;
        left: 155px;
    
    }
    .mobile-sec-right{
        width: 70%;
        text-align: center;
        margin-top: 50px;
    }
    .mobile-sec-right .rel{
        left:134px;
    }
    .flexible{
        width: 100%;
       flex-direction: column;
        padding:10px 0px;
        height: auto;
  }
    .flexible-left{
        width: 100%;
    }
}